@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  root: ":root";
  logs: false;
}

/* Ranking colors */

[data-rank="S"] {
  color: var(--color-red-500) !important;
  @media (prefers-color-scheme: dark) {
    color: var(--color-red-300) !important;
  }
}

[data-rank="A"] {
  color: var(--color-orange-500) !important;
  @media (prefers-color-scheme: dark) {
    color: var(--color-orange-300) !important;
  }
}

[data-rank="B"] {
  color: var(--color-amber-500) !important;
  @media (prefers-color-scheme: dark) {
    color: var(--color-amber-300) !important;
  }
}

[data-rank="C"] {
  color: var(--color-yellow-500) !important;
  @media (prefers-color-scheme: dark) {
    color: var(--color-yellow-300) !important;
  }
}

[data-rank="D"] {
  color: var(--color-lime-500) !important;
  @media (prefers-color-scheme: dark) {
    color: var(--color-lime-300) !important;
  }
}

[data-rank-bg="S"] {
  background-color: var(--color-red-300) !important;
  @media (prefers-color-scheme: dark) {
    background-color: var(--color-red-300) !important;
  }
}

[data-rank-bg="A"] {
  background-color: var(--color-orange-300) !important;
  @media (prefers-color-scheme: dark) {
    background-color: var(--color-orange-300) !important;
  }
}

[data-rank-bg="B"] {
  background-color: var(--color-amber-300) !important;
  @media (prefers-color-scheme: dark) {
    background-color: var(--color-amber-300) !important;
  }
}

[data-rank-bg="C"] {
  background-color: var(--color-yellow-300) !important;
  @media (prefers-color-scheme: dark) {
    background-color: var(--color-yellow-300) !important;
  }
}

[data-rank-bg="D"] {
  background-color: var(--color-lime-300) !important;
  @media (prefers-color-scheme: dark) {
    background-color: var(--color-lime-300) !important;
  }
}
